body {
	background: url("https://upload.wikimedia.org/wikipedia/commons/7/72/Omega_Nebula.jpg") no-repeat center fixed;
	background-size: cover;
}
.flexbox {
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.85;
	filter: alpha(opacity=60); 
	position: absolute;
	width: 50%;
	height: 50%;
	transform: translateX(50%) translateY(50%);
}
